streamlit
requests==2.32.3
pandas
numpy
scikit-learn==1.6.1
python-dotenv==1.0.1
transformers
huggingface-hub==0.27.1
whisper
coqui-tts==0.25.3
soundfile
streamlit-folium
folium
streamlit-mic-recorder
pydub==0.25.1
librosa